<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Depression prediction</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="question1" placeholder="question1" required="required" />
      <input type="text" name="question2" placeholder="question2" required="required" />
      <input type="text" name="question3" placeholder="question3" required="required" />
      <input type="text" name="question4" placeholder="question4" required="required" />
      <input type="text" name="question5" placeholder="question5" required="required" />
      <input type="text" name="question6" placeholder="question6" required="required" />
		  <input type="text" name="question7" placeholder="question7" required="required" />
      <input type="text" name="question8" placeholder="question8" required="required" />
      

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>

   
   {{ prediction_text }}

 </div>


</body>
</html>
